.DS_Store
frontend/node_modules
frontend/yarn-error.log
frontend/dist
frontend/.vite
frontend/.eslintcache

infrastructure/node_modules
infrastructure/yarn-error.log
infrastructure/cdk.out
infrastructure/.cdk.staging

# OS / editor
.idea
.vscode
*.log

