.DS_Store
frontend/node_modules
frontend/yarn-error.log
frontend/dist
frontend/.vite
frontend/.eslintcache

infrastructure/node_modules
infrastructure/yarn-error.log
infrastructure/cdk.out
infrastructure/.cdk.staging
backend/lambdas/node_modules
backend/cdk/node_modules
backend/cdk/yarn-error.log
backend/cdk/cdk.out
backend/cdk/.cdk.staging

# OS / editor
.idea
.vscode
*.log

